[2015-03-17 15:49] arnvald commented on #684
Thanks for your article, @bodrovis! I've added link to wiki.

[2015-03-17 15:49] #684 closed

[2015-04-03 13:45] mchaisse opened #687 "Not threadsafe?"
Hi,

We had some issue with what we think is a threadsafe problem in Sorcery, in our case during the `state` assignation on the `login_at` callback url.
If we call `login_at` method a first time with a state, and then a second time without (in a separate request), the state will randomly be empty or contains the value of the first call.

Configuration:
* Webserver: unicorn with 2 workers
* Environ

[2015-04-05 12:23] arnvald commented on #687
Thanks for your report @mchaisse!

I'm not sure what consequences can this issue cause, so just in case I've just written a quick fix for it and released a new version of the gem.

Answering your question about thread safety:

* Sorcery is not thread safe, I'm not exactly sure in how many places the thread safety is broken, but for sure at least a few
* since you run Unicorn, which is single-threa

[2015-04-05 12:23] #687 closed

[2015-04-05 12:23] arnvald commented on #681
No update for a month, closing the issue.

[2015-04-05 12:23] #681 closed

[2015-04-05 12:24] arnvald commented on #665
No updates, closing the issue then.

[2015-04-05 12:24] #665 closed

[2015-04-07 01:12] sirwolfgang commented on #682
I haven't had time to go back and reproduce this. Going to close this for now.

[2015-04-07 01:12] #682 closed

[2015-04-08 15:43] LimeBlast commented on #675
Sorry, nothing productive here, I just wanted to add a :+1:

[2015-04-11 10:49] volisoft commented on #70
Is token authentication planned for 1.x release?

[2015-04-12 03:15] sirwolfgang commented on #636
Its worth mentioning that github describes their solution here: https://github.com/blog/1661-modeling-your-app-s-user-session

[2015-04-24 18:13] alexch opened #688 "return value of deliver_* methods should match ActionMailer"
ActionMailer's `deliver_` methods return an instance of `Mail`, which allows for easy unit testing, *a la* http://edgeguides.rubyonrails.org/testing.html#unit-testing :

[code]

Unfortunately sorcery's `deliver_` methods (e.g. `user.deliver_reset_password_instructions!`) return a class object of the user domain object, due to the use of `tap` inside `ActiveRecordAdapter.transaction`. It would be v

[2015-04-24 19:59] harlantwood commented on #688
+1

[2015-04-26 15:36] novokshonovi opened #689 "Guest model"
How can I assign Guest model to the current_user field? I dont want use in my code  if logged_in statement, I want something lie this if current_user.is_guest?

[2015-04-26 17:13] arnvald commented on #689
I haven't tried it with Sorcery, but I guess you can do something like

[code]

[2015-04-28 11:41] novokshonovi commented on #689
Nice!

[2015-04-28 23:18] rubiety commented on #190
To all waiting for some progress on this: I have implemented support for persisting the login token as a configuration option (default behavior remains unchanged). See my pull request here with full details: #690. Please use and test in your apps to see if it solves your use case.

[2015-04-28 23:37] mokolabs commented on #190
Here's a little background on the pull request from @rubiety.

We've been using sorcery for a few years on [Graffletopia](http://www.graffletopia.com), and the lack of support for multiple "remember me" browser sessions has always annoyed me.

So I thought this would be a good opportunity for us to contribute back to the sorcery project by having @rubiety devote some time to fixing this issue.

Pl

[2015-04-29 13:45] arnvald commented on #689
I guess I can close the issue then.

[2015-04-29 13:45] #689 closed

[2015-05-03 16:56] arnvald commented on #688
Hmm, I agree it could be added like this:

[code]

[2015-05-04 22:40] dpereira411 commented on #675
Was this done?

[2015-05-04 22:43] richardardrichard commented on #675
Nope, I ran out of time, feel free to take it!

[2015-05-20 18:20] Wurren opened #692 "Scoping logins to subdomain or arbitrary field"
Hey guys,

Im just wondering if this is still planned as a feature and/or if there is a currently a workaround? Working on a app with team based subdomain login.

[2015-05-22 15:12] arnvald commented on #692
Hi @Wurren,

I don't think anyone's working on it now. We considered implementing this feature, but it'd be quite complicated. There is a solution here: https://github.com/NoamB/sorcery/pull/534#issuecomment-42394156 but it requires overriding authentication method.

Another way would be to add callback to `after_login` list and do it like this:

[code]

This is far from being perfect, though, as

[2015-05-27 10:04] jamosa opened #693 "Capybara + Sorcery helpers"
I'm having some troubles writing capybara tests with Sorcery. When I call logged_in? helper, it is shown the next error:
'wrong number of arguments calling `page` (0 for 1) '

After some research, I found that the problem is related with current_user, so when Sorcery does @klass.find_by_id(id) to retrieve current_user, the exception is shown.

Does anyone know why?

[2015-06-01 14:56] frankis opened #694 "AddOn/FeatureRequest: Protect from fake accounts creation"
While this security feature might not be obvious or of use to everyone, it will be an important thing to many:

In order to avoid people creating (automated or not) mass fake accounts (to reserve a nick name, to run multiple site scrapers simultaneously, redeem multiple vouchers for something,... whatever reasons those people might have) it would be great to add a functionality that allows limitin

[2015-06-01 15:05] frankis opened #695 "Addon/FeatureRequest: members go viral"
remember those days when gmail started? Only invited users was able to join and was allowed to use up to 20 keys(tokens to invite people they know.

I was thinking about something like this:
1. New users receive x tokens on signup to use / existing users may be included (either receive a specially crafted automated mail or get informed as part of a regular communication)
2. those tokens can be opt

[2015-06-05 03:47] arnvald commented on #695
Hi @frankis

this feature is out of Sorcery's scope. With Sorcery we're trying to facilitate the process of authentication, leaving the registration up to user (`user_activation` module is kind of exception).
Because of that, we're not going to implement it in Sorcery. On the other hand, since you need to write your own registration, you can easily implement this feature without interacting with S

[2015-06-05 03:47] #695 closed

[2015-06-05 03:56] arnvald commented on #693
Hi @jamosa,

can you paste some logs so that I can see what methods are exactly called there?

I believe the problem might be that there is no `logged_in?` helper among the integration tests helpers (it is only implemented for controller spec helpers)

[2015-06-05 04:05] arnvald commented on #694
Hi @frankis

as I mentioned in the comment to other issue, Sorcery does not provide features for user registration, it's focused on authentication.

[2015-06-05 04:05] #694 closed

[2015-06-09 04:34] wendy0402 commented on #675
Hi, I try to make it here. Here is the pull request, https://github.com/NoamB/sorcery/pull/696

[2015-06-09 23:35] Wurren commented on #692
Damn. Thats a shame. Scoping could open up a few possibilities.

I may use the solution of overriding the authentication method. Messy, but probably best for what I want to do.

Thanks!

[2015-06-11 13:34] Bogdan-D commented on #562
I fully agreed with this.
user_class is bad when you have, for example, users and admins - two different models, but both needs authentification.

[2015-06-14 21:05] Fustrate opened #698 "Custom Sorcery Exceptions"
I'm trying to distinguish between logins with valid credentials but not authorized, and plain invalid credentials. I know I could set `prevent_non_active_users_to_login` to false and then check their activation state afterwards, but that presents a few other problems.

So I was wondering if Sorcery, instead of just returning a falsey value from the `authenticate` method, could be a bit more descri

[2015-06-21 16:37] arnvald commented on #698
Hi @Fustrate,

I'd love to let users be aware of why exactly their login failed. It's a feature on my list of things I want to add to Sorcery.

However I don't want to use exceptions for flow control. I believe that in most cases return values should be used instead of exceptions, especially when it comes to handling input from user (I use exceptions when something should not happen in normal circ

[2015-06-21 16:37] #698 closed

[2015-06-21 19:12] Fustrate commented on #698
Ya, I totally understand the two perspectives on exceptions. I might spend some time converting my code to use an Authenticator since the project I'm doing this on hasn't gone too far past this point yet, and I'd rather go in a direction that has a chance of aligning with future releases of the gem.

And actually, what would the Authenticator look like if it were actually inside Sorcery? Would the

[2015-06-24 01:24] Fustrate commented on #698
Fustrate@ad4a214

Haven't been able to get the tests to even run (something about `missing run or map statement (RuntimeError)` in rack) but this is what I was thinking.

[2015-06-25 15:24] arnvald commented on #698
I haven't thought yet of how to implement `login` method in controller yet.

The problem I see with returning (or passing to block) 2 parameters is that always one of them is `nil`. So when user is authenticated, the 2nd parameter is useless.

The more natural way in Rails (not necessarily the better, to be clear) seems to be populating another method. This happens when you validate any AR object:

[2015-06-25 15:59] Fustrate commented on #698
Ya, I considered that near the top of my previous reply, but I've always been bothered by that feature of Rails. It feels like a bit too much magic, having what is effectively a return value appear somewhere else completely.

Returning from the *same* method also doesn't feel right. You'd then have to check if the return value is a User (or whatever your user class is) or a symbol. Even in a case

[2015-06-28 13:31] wendy0402 commented on #675
I guess this issue can be closed now

[2015-06-28 13:41] wendy0402 opened #700 "password archivable"
Hi, what do you think about feature archiving password? It will prevent a user to change password with one of the last `x`(from config) of old password. Actually it kinda like from [devise_security_extension](https://github.com/phatworx/devise_security_extension). It can be useful for security purpose.
thanks.

[2015-06-29 13:17] #693 closed

[2015-06-29 13:17] #675 closed

[2015-06-29 13:19] arnvald commented on #700
There is a PR that adds it, in my comment there I explain that probably it should become a plugin to Sorcery instead of another core module: https://github.com/NoamB/sorcery/pull/535

If someone would like to start working on plugins for Sorcery, I'll be very happy to help and to discuss what API should Sorcery have to make it work well plugins.

[2015-06-29 13:22] jamosa commented on #693
I forgot to answer to you... sorry. What finally happened was that I was including Capybara in test_helper.rb where I created a class that ins inherited by User, so User used find_by_id from Capybara instead of ActiveRecord.

Thanks :)

[2015-06-29 13:23] arnvald commented on #693
Haha, ok, thanks for response! :)

[2015-06-29 15:42] wendy0402 commented on #700
make it into plugin would be a good idea. I'm still a novice in ruby, but I guess I have enough free time try to make it, how about it? :smile:

[2015-06-30 02:23] adiakritos opened #701 "deliver_reset_password_instructions! doesn't actually send the email"
deliver_reset_password_instructions! doesn't actually send the email, I have to specify this with the .deliver or .deliver_now command in my mailer action.

Running on Rails 4.2.2

[2015-06-30 11:03] Jamedjo opened #702 "How do I set custom Oauth2 params & get/use a refresh_token"
Once I've used oauth2 to log someone in, I'd like to reuse their token to access the google drive API. This works but the token times out after 1h.

I'd like to be able to add `access_type=offline` to the auth params. Is this possible? What is the best way to get/use a refresh token?

I also previously wanted to add `hd=mydomain.com` and other custom params listed at https://developers.google.com/

[2015-07-07 16:34] arnvald commented on #702
Hi @Jamedjo

I'm afraid it is not possible to set these params at the moment. They need to be added as `attr_accessor`s to `lib/sorcery/providers/google.rb` and used in the `authorize_url` method (IIRC, I haven't used this code for a long time). I'll be happy to merge PR that adds this.

Refresh token should be available in `sorcery_fetch_user_hash` method that is available in `external` submodule

[2015-07-07 16:38] arnvald commented on #701
Hi @adiakritos,

do you mean that `deliver_reset_password_instructions` returns email object, on which you have to call `deliver` method? Or simply this method does not work and returns `false`?

[2015-07-07 16:39] arnvald commented on #700
Sure! Let me know whenever you are stuck - I'll try to help

[2015-07-07 16:40] #692 closed

[2015-07-07 17:19] arnvald commented on #698
Hi @Fustrate,

I thought about it more and your idea with using block with 2 arguments might indeed be the best implementation. I'm not sure when I'll have time to work on it, but if you'd like to help, that'd be great!

[2015-07-08 16:38] dpmccabe commented on #197
Why did you close your own issue without providing an answer?

[2015-07-12 01:43] wtfiwtz opened #703 "Facebook Graph API now requires field spec for /me requests"
"Running a business on FB is like opening a McDonald's on an active volcano."
   - Scott DeLong

In `facebook.rb` the `user_info_path` is simply /me.

[code]

However, this no longer retrieves the email, first name and last name of the user unless you explicitly request them.

This works (as long as your scope includes email):
[code]

I've scanned the Facebook change log but there is no mention of

[2015-07-12 02:15] wtfiwtz commented on #703
Changing the url to /v2.3/me in the Graph API Explorer also works... so clearly its a change in the v2.4 API.

Also, explicitly defining the 'first_name' and 'last_name' user info mappings also overcomes the previous issue I mentioned.

[2015-07-13 16:21] wendy0402 commented on #700
Hi, I already make it. But it is still far from perfect, would you mind to check it? [sorcery_wand](https://github.com/wendy0402/sorcery_wand). Please review it if you can, thanks

[2015-07-16 15:49] Fustrate commented on #698
Just got back from vacation. I'd be happy to help - I was tinkering with both a block style and returning two values (user, error reason) but the double return values wouldn't be backwards compatible.

I'll see what I can do with this once I get my head back into programming, and hopefully have something by the end of this weekend.

[2015-07-18 22:50] Fustrate commented on #698
Should be working with #704. Two other thoughts:

Should the `valid_password?` check be before or after the `before_authenticate` stuff in `Sorcery::Model::ClassMethods#authenticate`? Right now it's after, but I think we should make sure the password is correct before seeing if they're active or the account is locked. I'd rather not tell someone with incorrect credentials that the account is locke

[2015-07-19 04:13] dhampik commented on #636
@arnvald @NoamB any update on that? Probably it's worth mentioning that this issue is not only Rails 4.1-related, but it's a major security issue. @sirwolfgang referered really nice description from GitHub's team.

[2015-07-20 23:14] timoroemer opened #705 "Unable to use sorcery in rspec"
Heyho,

I am getting a ``` `method_missing': undefined method `authenticates_with_sorcery!' ``` when I am trying to create a user using the FactoryGirl gem in rspec. I googled and tried and still failing - I hope I am just missing sth obvious:

[code]

rails_helper.rb

[code]

spec_helper.rb
[code]
spec.rb

[code]

user_factory.rb

[code]

/support/sorcery_module.rb

[code]

I hope this includes a

[2015-07-22 12:22] arnvald commented on #705
Hi @timoroemer, did you run `rails generate sorcery:install`?

[2015-07-22 12:23] arnvald commented on #700
Hi @wendy0402
I'm sorry for late reply, I haven't had any time recently to work on Sorcery. I'll check your gem's code next week!

[2015-07-22 12:29] arnvald commented on #636
@dhampik I doubt anyone is working on it. I won't have time to do it myself at least in the next few weeks, but if you think you can implement it, that would be great.
The easy way would be just to change session key from user id to some custom token (stored in database) and adding `logout_all_sessions` method that would reset this token.

Storing sessions in db is another good idea, but I think i

[2015-07-22 12:33] nekogami commented on #636
Hi, we ended up stocking session inside a redis through https://github.com/redis-store/redis-rails since we had a tight roadmap to follow.

[2015-07-22 15:36] timoroemer commented on #705
I believe I did. The authentication works actually. It is just the rspec test/the factory that is complaining. So I can actually log in on my server and log out - all good there.

Any idea why rspec is complaining?

[2015-07-24 00:57] Bogdan-D opened #706 "User callbacks not working for sourcery"
I found an issue that callbacks not working for user when it updates last_activity_at, or whenever you have a call `@sourcery_adapter.update_attribute`. I even don't understand why that exists, at least for active record. I'll write a fix for this issue

[2015-07-26 12:40] timoroemer commented on #705
I double checked everything I could think of and still it is not working. Even after ```rails g sorcery:install``` again.

Any ideas?

[2015-07-26 15:37] KillaPL commented on #703
Is there any plan for this? I'd love to add facebook login but it fails exactly because of this. Can email be simply hardcoded there?

[2015-07-26 21:24] timoroemer commented on #705
Alright - I searched and I think I found the issue:
FactoryGirl doesnt seem to like "authenticates_with_sorcery!" much. When I use a fabricator for some magical reason or the other this will work just fine (getting: ```undefined local variable or method `page' for #<RSpec::ExampleGroups::AdminVenueImagesController:0x007f9fd2cb65c8>``` error now, but maybe I can find that out why that is too).

If

[2015-07-26 21:59] wtfiwtz commented on #703
This might help... use this version of the gem instead for now:
https://github.com/wtfiwtz/sorcery/commit/0762594a81c0bc7ac4d238cd4b601cfe136d2020
https://github.com/wtfiwtz/sorcery/tree/facebook-oauth

[2015-07-27 18:40] timoroemer commented on #705
I was wrong. Still broken.

[2015-07-28 02:29] arnvald commented on #706
Hi @Bogdan-D,

I don't remember specific issue when it was posted, but I think the reason is that the `update_attributes` method in Rails saves the whole record, not only the attributes you specify. What I mean is that if I have a following `User` object:

[code]

and I run following code:
[code]

the reloaded user object will be following:
[code]

which means that both fields were saved to databa

[2015-07-28 18:56] Bogdan-D commented on #706
What about this http://apidock.com/rails/ActiveRecord/Relation/update, it will run callbacks, validations and update only needed attributes without saving model

[2015-07-29 01:58] arnvald commented on #705
@timoroemer I can't really help. Yesterday I tried to reproduce it and I could easily create users with FactoryGirl, so I have no idea what causes the problem in your case.
Maybe in your test environment you are loading Sorcery before Rails? In such case Sorcery will not add `authenticates_with_sorcery!` method to `ActiveRecord::Base`

[2015-07-29 09:40] KillaPL commented on #703
This looks reasonable. Does this change make the code backwards compatible with older facebook api versions?

[2015-07-29 12:45] wtfiwtz commented on #703
Hi @KillaPL, I wouldn't say its been extensively tested - I added it to a new app specifically, so it hasn't been put through different scenarios.

Another option is to force the Facebook version to v2.3, which should be supported for 18+ months.

[2015-07-29 14:55] arnvald commented on #703
@wtfiwtz @KillaPL since `user_info_path` is an `attr_accessor`, can't you simply add `config.facebook.user_info_path = "me?fields=id,name,email,first_name,last_name"` to Sorcery initializer?

[2015-07-29 17:19] KillaPL commented on #703
@arnvald This does work for me indeed! Thank you. Should there be a mention about it in the docs somewhere, now that facebook doesn't send email by default? I suppose a lot of folks are using it.

[2015-07-31 17:49] KillaPL opened #707 "Allow choosing the environment for salesforce external"
Hello.

I'm using sorcery to login via sorcery and it works quite nice. It, however, is hardcoded to use salesforce production environment. If you could take a look at https://workbench.developerforce.com/login.php, it also does login via salesforce, but it allows to choose environment to be either 'Production' or 'Sandbox'. The difference in actual behavior is that logging into production environ

[2015-08-01 15:45] arnvald commented on #707
Maybe we could add `attr_accessor :environment` to `Salesforce` class and then in the `Salesforce#initialize` call:
[code]

Then in your Sorcery initializer you could do sth like
[code]

What do you think?

[2015-08-01 17:17] arnvald commented on #700
@wendy0402 thanks once again for writing your gem! The code looks fine, although I haven't run it in any app yet. Are you using it in some application? I was wondering if the commented code in engine does not prevent it from running correctly?

I already have some ideas how to make Sorcery more plugin-friendly, so that instead of writing the whole gem with handling configuration and ORMs etc. you

[2015-08-02 12:45] bcantin opened #708 "SCrypt not supported"
Add support for SCrypt.   Pull request incoming!

[2015-08-02 14:21] wendy0402 commented on #700
@arnvald about the code in engine gives me problem. I don't remember clearly but I guess there is problem when I tried to do migration for `password_archive`. Rails will run all of the `rails engine` before migrate it. There haven't any `password_archive` table at the boot time, meanwhile the submodule call the model `password_archive`. It cause error then.
I haven't use my gem in any production a

[2015-08-02 20:28] KillaPL commented on #707
This seems similar to what I do currently. It seems like that config would be changed globally, is that right? And I need to be able to switch that on per-request basis, as I will have many users logging in into both production and test environments.

[2015-08-03 01:14] arnvald commented on #707
@KillaPL ah, sorry, I misunderstood you.
Unfortunately what you try achieve is not recommended with Sorcery. The reason is that the salesforce site is a class variable, which means that if you change it, it's changed for the whole process. It means that switching to multi-threaded environment (i.e. using Puma or Passenger) will introduce bugs.
As long as you stick with single-threaded server, it s

[2015-08-03 10:56] KillaPL commented on #707
Ok, thank you very much for your responses. In that case I'm closing the issue. I'll look into omniauth.

[2015-08-03 10:56] #707 closed

[2015-08-10 14:34] musaffa commented on #533
The only thing that deters me from using `sorcery` is its lack of support for awesome `omniauth` gem.
+1 for omniauth integration.

[2015-08-10 21:19] jsierles opened #711 "oauth error using example code from External wiki page"
When trying to sign in via github, it works the first time. However, after I sign out (using the built-in logout method), authorizing via Github throws this error:

[code]

[2015-08-11 22:49] eliajf opened #712 "Sorcery excepts the same email/username more than once"
Create an account with john@test.com and create another account with JOHN@test.com. Sorcery will allow this. Case should not matter for email addresses (nor username if used for login/account creation purposes).

Furthermore, user.downcase_username_before_authenticating should be true by default (or at least set to true should also impact account creation).

[2015-08-11 23:14] carterdea commented on #505
I would also like to know if this is possible, although I assume from my testing that it's not possible.

[2015-08-12 13:40] faizanali6 opened #713 "change_password! method set activation_state again to pending"
When we call user.change_password!(new_password) it set user.activation_state to 'pending' which does not allow to login.

[2015-08-12 14:06] #713 closed

[2015-08-14 09:18] coderhs commented on #712
:+1: for enabling this by default.

[2015-08-25 07:53] shime commented on #712
:+1:

[2015-09-02 09:10] creepycheese commented on #688
I can take this issue. PR is coming

[2015-09-12 15:08] ThreeWest opened #716 "What is the role of Sorcery in Multitenancy?"
I'm sorry if this post doesn't belong here but it seems like something I should get clarification on here first.

It sounds like Sorcery doesn't support multi-tenant applications (please correct me if I'm wrong).

From my understanding, the purpose of a multi-tenant setup is to keep users from seeing each other's data.

Although I understand Sorcery is for authentication and that one would need an

[2015-09-12 16:41] ThreeWest commented on #716
Nevermind. I took a break, came back to it and was able to fix the issue.

Feel free to correct me but there wasn't anything special that needed to happen with the user model or sorcery.

This is what my code should look like to make this work.

  def current_account
   current_user.account
  end

  helper_method :current_account

  def scope_current_account
   Account.current_id = current_account

[2015-09-12 16:53] #716 closed

[2015-09-14 14:47] ThreeWest opened #717 "Redirect to login on session timeout"
Hi There. Is there any way to redirect the user to the login page when the session times out?

Right now it gives them the 500 page error.

[2015-09-15 04:22] wtfiwtz commented on #703
Thanks @arnvald I tested that on another app and it works well... I'll close this issue.

[2015-09-15 04:22] #703 closed

[2015-09-15 14:36] scrubpayjay opened #720 "Session timeout is not working."
I was trying to integrate session_timeout feature of the great sorcery gem.I have configured the gem like below:
`Rails.application.config.sorcery.submodules = [:reset_password, :session_timeout]`

`config.session_timeout = 60  `
`config.session_timeout_from_last_action = true `

then restarted the server.
Then i have tried to if the user is logged in or not by
     `raise logged_in?.inspect`

it

[2015-09-15 16:45] mugur-chirica commented on #557
@arnvald I have the same problem as @tquackenbush.
I will add here my details so i won't open a new issue.

My spec_helper.rb
[code]

my rails_helper.rb

[code]

the error i get
[code]

My work environment:
[code]

[2015-09-15 17:10] arnvald commented on #557
@mugur-chirica your version of Sorcery is old. Integration test helpers were introduced in 0.8.5, before there were only controller test helpers, and you could include them like this: `include ::Sorcery::TestHelpers::Rails`

[2015-09-15 17:16] mugur-chirica commented on #557
Even after adding ```config.include Sorcery::TestHelpers::Rails``` , i still get the undefined method `auto_login' error.

This is the version for our site, and i can't update it for now.
Is it difficult to update from 0.8.2  to 0.9?

[2015-09-15 17:26] arnvald commented on #557
Of course in depends on how you use Sorcery, but it should be fairly easy. Please check Changelog file and `upgrading` section in readme. It might be that you'll have to change only one line in config (`user.username_attribute_name` to `user.username_attribute_names`), but it might be a bit more to change as well.

[2015-09-16 18:29] ThreeWest commented on #717
I worked this out and it works.

In the application controller:
def not_authenticated
   unless current_user.present?
    redirect_to login_path, alert: "Please login first"
   end
  end

In your protected controllers: These have to be in this order and before anything else (especially is you are doing multi-tenant scopes)
before_filter :require_login
before_filter :not_authenticated

I had my sco

[2015-09-16 18:29] #717 closed

[2015-09-17 11:13] scrubpayjay commented on #526
This does not work.Because `session[:last_action_time]` returns the current time if i make a new request any time later from the immediate last request i made and `Time.now.in_time_zone` also returns the same time so `(Time.now.in_time_zone - session_to_use > Config.session_timeout)` is always returns false that's why if block is not running so the session is not being reset.Also `  config.session

[2015-09-18 02:35] agustaf9 opened #721 "Sorcery not working with simple form"
When using sorcery with simple form I get `undefined method `model_name' for nil:NilClass`

[2015-09-18 14:57] ThreeWest commented on #716
This is ok for the entire application EXCEPT if you add a feature to allow users to create new users so they can have more than one person managing their account.

Data is scoped for the whole application using this code in the models:
default_scope { where(account_id: Account.current_id) }

This doesn't work in the User model. So there is no way to use this method to scope user records. So basica

[2015-09-18 15:40] arnvald commented on #716
Hi @ThreeWest

I have to admit I do not fully understand the problem. Can you tell me what is `current_user.account`? Does it return a number? Or an `Account` object?

If `current_user.account` returns an object, then the problem is the `Account.current_id = current_user.account` assignment. Because this line means that `Account.current_id` stores an object, not an id. Maybe if you change it to `A

[2015-09-18 16:42] arnvald commented on #721
Hi @agustaf9

can you provide the form code? Maybe you're calling `form_for current_user` and `current_user` is `nil`?

[2015-09-18 16:45] ThreeWest commented on #716
I suspect current_user.account is an object since I expected current_user.account_id to work and it didn't. When I was watching the railscast he only briefly said we could use anything to find the account and then put current_user.account and it worked so I moved on.

I used current_account.users to fix the issue with user lists.

Thank you for mentioning best practices for class variables. I didn

[2015-09-22 12:11] scottrobertson opened #722 "Next release?"
Hey,

There has been quite a lot of work done since the last release. Do you know when master will be tagged up and released?

[2015-09-23 14:21] chadwilken opened #723 "Ensure user isn't soft deleted when querying for user"
We soft delete our user records, is there a way to ensure a property has a certain value in the query executed to find the user by the `login` method?

[2015-09-23 15:45] arnvald commented on #723
Hi @chadwilken,
that's a good question. Currently there is no way to add custom scope to finding user, however since version 0.9.1, there's a support for method called `active_for_authentication?` which you may use to prevent user from logging in - just simply add this method to `User` class like this:

[code]

However, if in your case it is possible to create a next account with the same email/lo

[2015-09-23 15:59] arnvald commented on #722
Hi @scottrobertson,

thanks for asking!

There's still some time before I'll be able to relase master. This branch contains some backwards-incompatible changes and is going to include a few more features that will probably require changes in user's code. Therefore I want to put it all together with some migration tool to facilitate upgrade. Since recently I've had little time for the project, it'l

[2015-09-23 15:59] #722 closed

[2015-09-23 16:12] chadwilken commented on #723
@arnvald, thanks for the quick reply. I worked around it for now using a `default_scope`, but it isn't an ideal setup long term. There are rare circumstances where a email can be used twice in the old setup and is causing headaches still :). Maybe if I get some time I can make this contribution.

[2015-09-23 16:44] arnvald commented on #712
Hi @eliajf!

I agree with you, we can switch this setting to `true` by default. What's more, if someone wants to implement it, we can add a `before_validate` callback, that would downcase email/login before saving record (only if the `downcase_username_before_authenticating` is set to true). This would prevent the first problem you've mentioned

[2015-09-23 16:45] arnvald commented on #708
Let's continue the discussion in the PR, I'll close this issue to avoid confusion.

[2015-09-23 16:45] #708 closed

[2015-09-23 16:46] arnvald commented on #711
Hi @jsierles, I'm sorry for late reply. Have you solved this issue? Is it something that we need to fix in Sorcery?

[2015-09-23 16:54] eliajf commented on #712
That's fair and is exactly what I implemented myself. I'd urge you to set
downcase_username_before_authenticating to true by default as well. Thanks
for being open to suggestions.

On Wed, Sep 23, 2015 at 9:44 AM, Grzegorz Witek <notifications@github.com>
wrote:

--
Elia Freedman
Infinity Softworks
(503) 939-4379
www.infinitysw.com
@eliajf

[2015-09-25 00:00] jsierles commented on #711
Sorry - this was some issue with my specific github account, I believe. I'll reopen if it pops up again. Thanks!

[2015-09-25 00:00] #711 closed

[2015-09-25 17:58] manolo07 opened #724 "rails-api: undefined local variable or method `form_authenticity_token'"
Hi, firstable I want to thank you for this work I think is great.
I just begin to build my API,  using the rail-api gem and when I come to login function y jut got the error:
**undefined local variable or method `form_authenticity_token' for #<UserSessionsController**

I al ready include the sorcery´s reference to the ActionController::API as it´s explained
[code]

What else do you thing I´m doing

[2015-09-26 17:11] arnvald commented on #724
@manolo07 it seems that Sorcery currently does not work with Rails-API. The reason is that always when user is logged in we reset the CSRF token, and the method that does it, `form_authenticity_token` is not present in Rails-API.

I'll check if it's safe to remove usage of this method, or if its not, how to make it work with Rails-API.

[2015-09-27 03:39] arnvald commented on #724
Ok, we definitely need to keep this method there. I'll try to make it work with Rails-API, but I'm not sure when it'll be possible (I hope until end of the year). For now, you can just define this method in your controller:

[code]

It will prevent error from being raised. However I expect you might get more issues in the future, since Sorcery wasn't meant to be used with JSON APIs, and I haven't

[2015-09-27 03:39] #724 closed

[2015-09-28 16:15] manolo07 commented on #724
Thanks!, very much

[2015-10-06 06:45] yuya-takeyama opened #728 "Wiki: Validation configuration in Simple Password Authentication seems incorrect"
I found incorrect validation configuration in [Simple Password Authentication](https://github.com/NoamB/sorcery/wiki/Simple-Password-Authentication) page.

[code]

The condition specified in `if` block should be below.

[code]

---

I investigated it using pry-debugger.

At first, I put breakpoint on validation configuration.

[code]

Then I tried below in pry console.

[code]

I can't see `passwo

[2015-10-19 07:41] gitChang opened #731 "Undefined Method edit_password_reset_url"
Hi,

I'm using sorcery for authentication and reset password but I'm getting this error:

NoMethodError (undefined method `edit_password_reset_url' for #<UserMailer:0x007fe49f7afa40>)

maybe the helper is not being loaded. How can I fix this? Is there any line in /initializers/sorcery.rb that I need to uncomment?

Thanks.

[2015-10-19 08:13] gitChang commented on #731
My bad. I didn't notice this first Error:
UserMailer#reset_password_email: processed outbound mail in .....

which this >> http://stackoverflow.com/questions/24751573/actionmailer-not-delivering-mail-to-the-recepients helped to fixed processed outbound mail problem.

[2015-10-19 08:14] #731 closed

[2015-10-20 18:20] brandoncc opened #732 "redirect_uri is lost"
I have a scenario where I need to redirect to a different url for creating users, as I don't want it to happen automatically in the same controller action as a user signing in. I have tried attaching a `redirect_uri` to my oauth request to Github but it gets lost in the sorcery code.

First request url (correct, includes `/create`):

[code]

Next request in network tab (`/create` is gone):

[code]

[2015-10-21 13:35] Mehonoshin commented on #70
Seems that we should use some custom implementation of tokens :)

[2015-10-25 02:30] twe4ked opened #733 "Unable to use curl basic auth"
Everything is working in the browser but I'm unable to authenticate using `curl` from the command line.

[code]

Any ideas?

[2015-10-31 16:51] jeriko commented on #703
THANK YOU!! Wow I spent way too long on this.

[2015-11-02 17:39] supremebeing7 opened #738 "Is there a plugin/module available for additional security measures?"
I'm looking for something similar to [devise_security_extension](https://github.com/phatworx/devise_security_extension) but for sorcery.

Is there something already built for that? My Google skills turned up nothing.

[2015-11-12 14:46] hendricius opened #739 "User is required to relogin sooner than remember me allows"
We enabled the remember me module:

[code]

And here in the config:
[code]

I think the bug is here:

https://github.com/NoamB/sorcery/blob/947cada5a79ada35559e1608a3a64aa54dd07ad6/lib/sorcery/controller.rb#L105

`should_remember` does nothing. It should call the `remember_me!` I guess or? Let me know :)

[2015-11-12 17:35] arnvald commented on #739
Hi @hendricius

That method is overriden here: https://github.com/NoamB/sorcery/blob/947cada5a79ada35559e1608a3a64aa54dd07ad6/lib/sorcery/controller/submodules/remember_me.rb#L46

So there is no bug there. You can check 2 things that come to my mind:
* do you correctly provide 3rd parameter to `User.authenticate`?
* is the `remember_me_token ` cookie being set at all?

[2015-11-12 23:33] hendricius commented on #739
if I call remember_me! manually in the controllers it seems to work. We
mostly use the auto_login method.

On Thursday, 12 November 2015, Grzegorz Witek <notifications@github.com>
wrote:

[2015-11-13 09:06] hendricius commented on #739
Could this be also partly due to users logging in from different devices? :)

[2015-11-13 09:45] arnvald commented on #739
@hendricius that's good point - it might be that users log out on different devices, and then the `remember_me_token` is reseted. This has been fixed in master, I hope to release it by the end of the month

[2015-11-13 10:15] hendricius commented on #739
Ok thanks. I am thinking maybe it is related to this one:

https://github.com/NoamB/sorcery/issues/190

My theory is:
1) I login from device A and have token A in the database.
2) Then I login from device B and have token B in the database. My token A is gone.
3) Session expires on device A, I am being logged out on device A since my token A is gone.
4) If i would go back to device B I would still

[2015-11-13 10:25] hendricius commented on #739
I think it's fixed in https://github.com/NoamB/sorcery/pull/690. Will let you know.

[2015-11-13 10:38] hendricius commented on #739
Yep, fixed in https://github.com/NoamB/sorcery/pull/690.

Thanks!

[2015-11-13 10:38] #739 closed

[2015-11-17 15:26] tagliala commented on #405
FWIW, I have this note on my changelog

#3626 Document#to_key, needs to return a ObjectId as String so we can query back using that id. (Arthur Neves)

https://github.com/mongodb/mongoid/commit/658a5d4e55e0ff94fb89fa1e7b970edcc7c4283d

[2015-11-19 07:17] Bighamster opened #740 "The method activate! doesn't reset activation_token_expires_at"
When I activate an account I expect that the activation_token_expires_at to be set to null but it's not.
The same case with reset_password_email_sent_at.
Is it bug or feature?

[2015-11-23 20:10] rhardih commented on #617
I know this is an old issue and closed. But I've recently run into this in an application and quite possibly it's because of confusion between the responsibilities of the `spec_helper.rb` and `rails_helper.rb` files.

Anything that goes into the `spec_helper.rb`, should not rely on the application to be loaded or anything "Rails" for that matter. It's for stuff you can test without, e.g. service c

[2015-12-09 12:12] firstprateek commented on #670
This is what worked for me:

[code]

[2015-12-20 04:19] myloJR opened #742 "Installation fails on rails 5.0.0.beta1"
After installing the gem in a new rails-5.0.0.beta1 project I ran `rails generate sorcery:install` and I'm getting this error:

[code]

[2015-12-22 04:54] philcrissman commented on #742
:+1:

[2015-12-22 20:42] Ch4s3 opened #743 "Ajax get requests breaks redirect_back_or_to"
This [line](https://github.com/NoamB/sorcery/blob/master/lib/sorcery/controller.rb#L24) should check for xhr? before saving the url.

[2015-12-24 13:43] philcrissman commented on #742
FWIW: I noticed that running `bin/rails g sorcery:install` created the initializer but then borked on trying to parse said initializer. I pasted the contents of `lib/sorcery/engine.rb` to the top of `config/initializers/sorcery.rb`, and then the ran `rails g sorcery:install` again, and it completed fine.

Eg:

[code]

I don't have a deep enough knowledge of the differences between Rails 4 and 5 to

[2015-12-26 10:28] arnvald commented on #742
Hi, I'll have some time to check it shortly after new year. If anyone figures out the fix earlier, I'll be happy to merge it and shortly after release a new version

[2015-12-28 16:23] mad-raz opened #744 "`change_password` vs `change_password!`"
in the implementation of the `change_password!` [here](https://github.com/NoamB/sorcery/blob/947cada5a79ada35559e1608a3a64aa54dd07ad6/lib/sorcery/model/submodules/reset_password.rb#L109-L114)

at the end it calls `sorcery_adapter.save`
which is a behaviour that is quite different than most `active_record_bang_methods!` which either succeed or throws an error rather than return `false` on failure..

[2015-12-30 16:51] joe-re commented on #742
Hi, I encountered same problem.

I think, this isn't fault of rails5.

Probably, It has fixed by this commit.
https://github.com/arnvald/sorcery/commit/1c5365ad8e8d14e63b02543eca361f2e51577f92

latest version include it.
But, normally, 0.7.13 is installed because of resolving dependency.

Gemfile
[code]

bundle install log
[code]

[2015-12-30 17:54] joe-re commented on #742
We will be able to fix it after https://github.com/intridea/oauth2/pull/226.

[2015-12-31 03:05] arnvald commented on #742
@joe-re thanks for update! I guess it's a good idea to also remove OAuth from Sorcery's dependencies and ask users who use `external` submodule to explicitly add it to their Gemfile

[2016-01-08 11:39] walakka-jp commented on #728
Simply,
[code]
should be removed. cryped_password changes because of salt change.

[2016-01-13 10:09] 5t111111 commented on #742
FWIW:

As I've got a little time to investigate, I've tried to remove hard dependency of OAuth, but I can't find out a good way how to require only when `:external` set in submodules. The problem is that you can't know if `:external` is set before an initializer is loaded, but `sorcery/protocols/oauth` and `sorcery/protocols/oauth2`, where oauth/oauth2 will be required, are loaded in `sorcery.rb`

[2016-01-18 11:00] hgani opened #746 "Logout on all devices"
Hi,

There are cases where we'd like to invalidate all of the sessions of a specific user.

For example, if a user forgot to log out on a shared computer and someone else obtains access to the account.

Let's say the user notices this and decides to change his/her password.

Ideally, we'd like to be able to delete the sessions on other devices (including the shared computer).

Is this something th

[2016-01-22 21:56] ivanreese commented on #683
I'd also like to be able to use `includes` to do eager loading on my users, to load (for instance) associated permissions used for authorization.

The pull request for adding a `scope_for_authentication` seems like it'd support this use case: https://github.com/NoamB/sorcery/pull/727

[2016-01-24 15:17] Hirurg103 commented on #742
What is the status of this?

[2016-01-27 20:41] Ch4s3 commented on #743
bump

[2016-01-27 23:43] PatrickKing commented on #742
I can confirm that it is the line of code referenced by @joe-re causing this problem. In particular, in 0.7.3 the check is actually `Rails::VERSION::MAJOR == 3`. @philcrissman 's workaround did work to let me finish installation, but failed for me when it came to running the app.

As a very temporary and fragile workaround for local dev purposes, you can do:
`bundle show sorcery`
Open the given fo

[2016-01-28 17:30] silvercrow27 opened #748 "GMail Authentication"
I have noticed that in logging in your E-mail in GMail. You can either use the one that has a dot and the one that don't have one for example:

firstname.lastname@gmail.com or firstnamelastname@gmail.com

I registered one of the E-mails above lets say the one without a dot. I tried to log in using the one with a dot, basically the authentication fails. But it's the same E-mail so I guess the authe

[2016-02-01 12:50] jrochkind opened #749 "status? README update."
The README still says:

April 2015 is 9 months ago, of course. This line in the README alarms newcomers to sorcery and gives the impression that it may be unmaintained, abandoned, or otherwise in trouble.

Can you update the README with current views on 1.0 plans/timeline? Thanks!

[2016-02-01 12:58] jrochkind commented on #748
Those are different email addresses, which apparently gmail sends to the same email box (? I hadn't known this, but I take your word), but not all email providers treat periods as inconsequential. I don't think it would be appropriate for Sorcery to automatically do anything different here. Those are different email addresses.

But as sorcery is just building blocks for auth, it wouldn't be too ha

[2016-02-01 16:11] Ch4s3 commented on #748
This is a sticky issue with g-mail for any auth system. G-mail basically ignores '.' in e-mail addresses, firstname.lastname@gmail.com and firstnamelastname@gmail.com are not considered to be different addresses by google. Other mail providers treat '.' differently.

I'm of the opinion that this should perhaps be either an optional feature, or just implemented by application using sorcery.

[2016-02-03 13:58] silvercrow27 commented on #748
For the mean time I'll implement  the "normalization" said by @jrochkind but it would be great if this is going to be a optional feature of Sorcery so that you won't need to do the "normalization" every time.

[2016-02-03 13:58] #748 closed

[2016-02-03 14:46] jrochkind commented on #748
Personally I like that Sorcery stays generic building-blocks, and doesn't try to include every edge-case feature for every possible situation, but instead tries to keep it very easy for you to add what you need yourself.  Trying to add features to handle email-provider-specific features like this -- that way lies Devise I think.  (I wonder if this feature is already in Devise? There's a reason som

[2016-02-04 05:26] Ch4s3 opened #752 "CI failing"
What does it take to get CI to pass? It that rubies are failing to install.

[2016-02-05 11:28] ZiaMM commented on #169
NoMethodError: undefined method `authenticate' for #<User...

[2016-02-05 17:07] ivanreese commented on #749
Yeah, I'm also a bit worried about how quiet this project has gone. It's been working fine for me, save for a few little pains. But with the Rails 5 transition looming, I'm thinking it might be time to switch out how I do auth.

[2016-02-05 18:20] Ch4s3 commented on #749
@ivanreese could be interesting to investigate a community fork if development doesn't pick up in the next month or so.

[2016-02-13 06:13] arnvald commented on #742
Hi everyone,

I'm sorry for lack of replies recently. From what I understand, for some reason old version of Sorcery is installed due to compatibilities of libraries. As some of you have already mentioned, this is an issue with oAuth2 library, that used to depend on `rack ~> 1.2`, while new version of Rails depends on `rack ~> 2.0`. The only problem with Sorcery is that it depends on oAuth2, but s

[2016-02-13 06:20] arnvald commented on #746
Hi @hgani,

in the `master` branch we already have this feature. There's a new method in controller called `logout_all_sessions`- you can try it out. Somehow it disappeared from `readme` file, I'll add it back there

[2016-02-13 07:03] arnvald commented on #749
Hi everyone,

it's true that in the last year not much happened with Sorcery. We had some plans on releasing a new version, but since I haven't been using Sorcery for some time in any project, I don't have so much time to work on it anymore.

I don't think that any community fork is necessary, though - I think if someone's willing to take responsibility for Sorcery, it's ok to use this repository.

[2016-02-13 07:05] hgani commented on #746
@arnvald thanks for the reply

Just want to clarify that, logout_all_sessions() doesn't do what it means, which is why it has been removed. See https://github.com/NoamB/sorcery/pull/690

[2016-02-13 07:11] arnvald commented on #746
Oh, I'm sorry, I forget about it. You're right, that's why it's not in the readme.

Ok, so currently we have the `force_forget_me` option in combination with `logout`, but this will only invalidate the `remember_me` token. It won't invalidate the other active sessions.

I'll leave the issue open then. I doubt I'll have time work on it myself any time soon, but if you or someone else is willing to

[2016-02-13 07:16] 5t111111 commented on #742
I've confirmed the latest Sorcery (0.9.1) is installed with Rails 5.0.0.beta2 app where I could install only old versions of Sorcery before, and it seems working without any problem so far, at least the problem originally described in this issue doesn't happen anymore.

I'll report if I find something wrong.

[2016-02-13 11:39] arnvald commented on #728
Hi!

I think you're right. Alternatively, instead of `changes[:crypted_password]` you can use `encrypted_password_changed?` (it's automatically generated method). Can you please update wiki?

@walakka-jp yes, the password presence might be checked as well, although it's only for the error message, since when we're checking length, it will already fail if the password is not there.

[2016-02-13 11:39] #728 closed

[2016-02-13 11:40] arnvald commented on #742
Cool, I'm closing the issue then. If there's still some problem with compatibility, please let me know.

[2016-02-13 11:40] #742 closed

[2016-02-20 01:13] codesallday commented on #142
Being as this issue is still open, I assume oauth testing support is yet to be added to Sorcery. Has there been any kind of consensus on a work around until this feature is available?

[2016-02-27 16:06] bzurkowski opened #756 "Rails 5 prepend_before_filter deprecation warning"
Caused by `prepend_before_filter` method call in [session_timeout.rb](https://github.com/NoamB/sorcery/blob/947cada5a79ada35559e1608a3a64aa54dd07ad6/lib/sorcery/controller/submodules/session_timeout.rb#L24).

[2016-02-28 11:26] takashi opened #758 "external? turned true when password and password confirmation is nil"
I try to implement simple password authentication and oauth login with sorcery to my app.

when I try to signup without password and password confirmation, `external?` has been `true`

here's my code

[code]

In `password_required?`,  `external?` has been true and validation has been ignored when password and password_confirmation is nil.

How can I turn on validation in this case?

[2016-03-01 16:02] arnvald commented on #758
Hey @takashi, the implementation of `external?` in Sorcery is not great. You can change it for example to:
[code]

This way users will not require password only if they have at least one `authentication` assigned (i.e. that they come from some oAuth provider)

[2016-03-02 04:34] aj07mm opened #759 "Change External wiki, for Rails 4.1 don't allow mass assignment"
There are mass assignment examples on the code but this is not allowed for Rails 4.1, there should be an specification or a sample for both with mass assignment and without.

[2016-03-02 11:51] rmomogi opened #760 "External - Facebook don't save email from user"
Hi, guys.
In my app with sorcery + external (facebook) don't save field email. This field return nil.
What's the wrong?

[2016-03-02 11:53] rmomogi opened #761 "External - Google with OAuth2::Error in OauthsController#callback"
My app connect to google, but return this error:
[code]
What's the wrong?

[2016-03-03 23:29] chadwilken opened #762 "Sorcery ActiveRecord Adapter always uses email attribute"
I haven't changed any sorcery or user related code for a while but all of a sudden Sorcery is always trying to use the `email` attribute when performing `find_by`. My config is below and I confirmed that the configuration is being loaded.  Not sure if you might have a solution for this other than adding an `alias_attribute` on the `User` class. I didn't update the gem just simply ran tests and it

[2016-03-04 00:09] chadwilken commented on #762
So it turns out if you use this in combination with [rails_admin](https://github.com/sferik/rails_admin) and modify the class in an initializer it will load the model class before sorcery can configure the properties and caused the error above. For the time being I removed my rails admin config.

[2016-03-04 16:02] arnvald commented on #762
@chadwilken maybe simply loading the sorcery config before rails admin config is a solution? I think they're loaded alphabetically, so just rename one of them. That's far from perfect, but maybe having files like `initializers/001_sorcery.rb` and `initializers/002_rails_admin.rb` is't that bad it clearly suggest what needs to be loaded first

[2016-03-04 16:04] chadwilken commented on #762
@arnvald not a bad idea as it is clear that one precedes the other. Ill mess with it a bit later.

[2016-03-04 17:07] chadwilken commented on #762
@arnvald I gave it a try and now it complains that the password reset mailer must be provided. It is set but the module must not be loaded even if I add a require at the top.

[2016-03-10 13:21] takashi commented on #758
Hi @arnvald,
thank you for giving me the good solution. I'd like to implement ur solution as default implementation of sorcery's `external?` . is there any reason not to implement `external?` this way?

[2016-03-18 07:36] ltcmdr927 commented on #728
Update wiki. Thanks for this issue.

[2016-03-19 04:48] #752 closed

[2016-04-06 13:44] andyrue opened #767 "How to read oauth response from Facebook"
I seem to be having trouble retrieving at least the email from Facebook. I can't figure out where to pry in to check the response data to see what's actually coming back so I can get a hint at where things are breaking.

In case you see something wrong in my config, here it is. Thanks!

[code]

[2016-04-06 15:37] andyrue commented on #767
I found using this URL I can get the data being returned from Facebook.

`https://graph.facebook.com/me?access_token=<access token here>&fields=first_name,last_name,email`

Sure enough email is not returning anything. I'd say it was a permissions issue, but I'm not sure what I'm doing wrong to not be able to retrieve email. Any ideas? Thanks!

[2016-04-06 17:40] andyrue commented on #767
Ok, I feel silly....I apparently fixed it long ago but had never logged out of facebook before making a new request. I'm not sure which thing I did to fix it but I think it was adding the scope config line. Anywho, all is well. :)

[2016-04-06 17:40] #767 closed

[2016-04-16 07:47] afrustagli opened #768 "Possible security issue"
I have written an application using Sorcery authenticating through Google.  Everything worked wonderfully, until I learned today that a former employee is still able to access our system even though his account password was changed ages ago.

I conducted a little experiment.  I logged onto our system, then changed my password in Gmail... but I'm still able to access the application without updatin

[2016-04-18 12:17] artem-a commented on #760
Hi, @rmomogi
add this code to your sorcery config file
`config.facebook.user_info_path = "me?fields=email,first_name,last_name"`

[read this issue](https://github.com/NoamB/sorcery/issues/703)

[2016-04-20 06:09] holysoros opened #769 "`user.valid_password?` not work if encrypt provider is sha512 and `user.stretches` has specified"
How to reproduce the bug
------
change the `config/initializers/sorcery.rb` as below:
[code]

In rails console, create a user with password, for example 'secretpass'

Then exit the console;

Start rails console again, `user.valid_password?(secretpass)` will return false!

Problem Analysis
------
`valid_password?(pass)` in `lib/sorcey/model.rb` don't set `stretches`. The `set_encryption_attributes`

[2016-04-22 14:15] sirwolfgang opened #770 "Sessions and JWTs"
I am working on a rails/jwt integration ([sirwolfgang/jwt_keeper](https://github.com/sirwolfgang/jwt_keeper)), which I would like to integrate with sorcery.

One of the key things is that the tokens are not stored in sessions, but are handled by the frontend and stored in local storage. (Depending on how you use them) I bring this up because currently sorcery default auths by the `login_from_sessi

[2016-04-22 15:31] luizkowalski commented on #760
your facebook app should also have the `email` permission, and the user should allow your app to use this permission

[2016-04-22 15:36] luizkowalski opened #771 "User activity not working"
I'm developing an API (no using rails-api, but rails itself) and at some point, I need to login the user, so I'm doing something like this

[code]

turns out that when I call `login`, the user is not being "tracked". the fields ip address, last login/activity date are not changed at all. I think I get everything configured, but maybe I missed something:

user.rb
[code]

sorcery.rb
[code]

The API

[2016-04-26 09:26] budmc29 opened #772 "Documentation link for sorcery 0.9.1 is not working."
When you click the documentation link in the readme or you go to these links:
[/sorcery/](http://www.rubydoc.info/gems/sorcery/)
[/sorcery/0.9.1/](http://www.rubydoc.info/gems/sorcery/0.9.1/)

the page is loading forever with this message:

[code]

The [sorcery/0.9.0/](http://www.rubydoc.info/gems/sorcery/0.9.0/) is working well.

[2016-04-28 20:10] mausconi commented on #617
@rhardih Thank for the type

[2016-05-04 09:50] mad-raz opened #773 "Don't bundle extra dependencies"
In the gemfile (https://github.com/NoamB/sorcery/blob/master/sorcery.gemspec#L21-L22)
oauth and oauth2 (and they both have a lot of dependencies bundled with them) are bundled with every install although they are not needed all the time...

Can we remove these dependencies and mention bundling them in the readme if a user wanted to have the external modules supported ? or better, automatically app

[2016-05-08 03:52] 5t111111 opened #775 "Test helpers do not work in Rails 5"
In Rails 5, generated controller tests now inherit from `ActionDispatch::IntegrationTest`, so the helpers like `login_user` don't seem to work.

e.g.) the following does not work (think if `index` requires login):

[code]

Are there any idea or plan for using the test helpers in Rails 5 controller testing?

FYI: Devise seems to be going to implement a test helper for integration tests.  https://gi

[2016-05-10 04:39] hughfm commented on #749
Anyone have any more updates on the future of Sorcery? I have really enjoyed using it, but worry about using something that is not being actively maintained. Would love to help out myself but am not quite experienced enough to take on something of this size.

Are there any plans for another release soon, or should I be running directly off master if I want to make use of changes that haven't been

[2016-05-10 12:48] jrochkind commented on #749
I've found Clearance pretty similar to Sorcery in approach, and have had good experience with it.

[2016-05-10 13:11] ivanreese commented on #749
I've been listening to the (excellent) podcast The Bike Shed, which has the current maintainer of Clearance as a co-host. He's worked on Clearance a fair bit recently (within the past 6 months), and is apparently trying to move it to a 2.0 in the not-too-distant future.

https://github.com/thoughtbot/clearance/
https://github.com/derekprior

[2016-05-11 06:10] slava-nikulin opened #776 "Why does Session#Destroy trigger not_authenticated action?"
class UserSessionsController < ApplicationController
  skip_before_action :require_login, except: [:destroy]

  def new
    ...
  end

  def create
    ...
  end

  def destroy
    logout
    redirect_to signin_path , flash: { info: 'Bye!' }
  end
end

class ApplicationController < ActionController::Base
  before_action :require_login

  private
  def not_authenticated
    redirect_to signin_path,

[2016-05-11 22:56] hughfm commented on #749
Thanks guys, yep Clearance is looking pretty good.

It is nice to be able to assemble your own authentication & sign up flows when you are dealing with things that are outside the 'standard' box. I like how Sorcery provides the building blocks to do that relatively easily...

[2016-05-15 15:19] arnvald commented on #775
Hi @5t111111

If your rest is an integration test, you should not include `Sorcery::TestHelpers::Rails::Controller`. The reason is that both modules that you include contain exactly the same methods, and the 2nd one simply overrides the 1st one.

[2016-05-15 15:20] arnvald commented on #773
Hey @mad-raz

I think it's a good idea. If you can submit a PR for that, it'd be great.

[2016-05-15 15:21] arnvald commented on #772
Hey @budmc29 to be honest I have no idea what's wrong, I've never experienced similar issue. Maybe it's a syntax error in the documentation?

[2016-05-15 15:26] arnvald commented on #771
Hi @luizkowalski have you solved this problem already? If not, can you paste the whole `sorcery.rb` file here?

[2016-05-15 16:06] arnvald opened #777 "Maintainer needed"
Hi everyone,

as many people have already noticed, Sorcery hasn't been actively developed for quite some time. For the last few months I've been hoping to change this situation and start spending at least a few hours a week finishing version 1.0. Unfortunately it didn't happen and at this point I'm sure I won't finish it, for which I'm very sorry. With a number of things I do and the fact that I h

[2016-05-15 23:02] Ch4s3 commented on #777
Grzegorz, I'll be happy to take it on. I'd like to hear about what you have planned for 1.0, and I'll try to triage the PRs and Issues over the next month.

[2016-05-16 03:06] 5t111111 commented on #775
@arnvald I'm sorry for asking you with a wrong snippet. However, even after removing `include Sorcery::TestHelpers::Rails::Controller`, the problem has not been resolved.

I think the cause of the problem is that `page` is not available in the context, I've got the following error:

[code]

I'm going to give it further investigation, but it'll take a while because actually I don't write any contro

[2016-05-16 09:45] kirs commented on #777
Grzegorz, thank you for all the work you have done for Sorcery! ❤️

Regarding future development:
I tried to do some major architecture refinements on Sorcery when I used to work on it, but I came to the conclusion that it's easier to start with a new gem from the scratch. So my personal opinion is that we should aim only to security releases and critical bug fixes, without adding any new features

[2016-05-18 07:42] zacksiri commented on #777
@Ch4s3 if you take lead, i am happy to help in anyway I can.

[2016-05-18 12:29] #760 closed

[2016-05-18 12:30] #761 closed

[2016-05-18 17:55] arnvald commented on #777
Hi @Ch4s3 and @zacksiri, thanks a lot for responding!

@Ch4s3 I got your email, I'll write you back this weekend.

@kirs yeah, I also struggled with that and I think you're right. On the other hand Sorcery has a lot of users and plenty applications rely on it, so I think if Chase and Zack decide to add new features (there's a bunch of open pull requests that could either be merged or moved to sepa

[2016-05-18 19:42] Ch4s3 commented on #777
@kris I think @arnvald is probably correct, it would be nice to continue support for the user base. It might make sense to roll some of the PRs into the core and build out support for gems for not widely used/esoteric auth providers.

And thanks @arnvald, I'm looking forward to hearing from you.

[2016-05-24 12:06] luizkowalski commented on #771
hey, sorry for the delay, I was working on something else. Here is the file

[code]

[2016-05-24 12:49] arjayx commented on #70
hi excelent work. Thanks

I was wondering, if was implemented this feature ?

[2016-05-24 17:20] Ch4s3 commented on #70
@arjayx the gem is transitioning to new maintainers, is this a useful feature for? If a few folks weigh in, it will make it onto the 1.0 roadmap. @Mehonoshin, @volisoft, and @FUT, are you all still using Sorcery?

[2016-05-24 17:38] Mehonoshin commented on #70
@Ch4s3 yep, still using

[2016-05-24 18:06] Ch4s3 commented on #770
@sirwolfgang  this is related to #70 and its on the roadmap, please check out the discussion there and weigh in!

[2016-05-24 18:07] Ch4s3 commented on #70
@Mehonoshin would JWT/[ruby-jwt](https://github.com/jwt/ruby-jwt) integration work for you?

[2016-05-24 19:03] volisoft commented on #70
@Ch4s3 I'm no longer using Sorcery

[2016-05-24 19:30] Mehonoshin commented on #70
@Ch4s3 we've implemented some workaround, but anyway jwt looks good for token authentication

[2016-05-24 19:42] Ch4s3 commented on #70
@volisoft, if you don't mind me asking, what are you using now and what features does it provide that sorcery does not? Thanks @Mehonoshin.

[2016-05-25 01:30] arjayx commented on #70
@Ch4s3 I wondered about feature Token for restfull api and be able to implement sorcery in projects that could have mobile clients

[2016-05-25 02:38] Ch4s3 commented on #70
@arjayx interesting, let me look into how people do that

[2016-05-26 08:50] lephyrius opened #778 "Prevent redirect_back_or_to redirecting to XHR requests?"
Is there a simple way to prevent redirect to XHR GET requests to be stored in the session[:return_to_url]?

[2016-05-26 14:20] Ch4s3 commented on #778
#747 Should fix that. In the meantime I use a this monkey patch in my `application_controller.rb`:

[code]

[2016-05-28 09:44] #743 closed

[2016-05-28 09:47] arnvald commented on #778
Fixed by https://github.com/NoamB/sorcery/pull/747

[2016-05-28 09:47] #778 closed

[2016-05-28 21:17] mad-raz commented on #777
I'd also be happy to collaborate on this project

[2016-05-28 21:30] Ch4s3 commented on #777
@mad-raz That's great to hear. @arnvald and I are working on a transition plan, and I welcome any help I can get. I just looked at #745 and it looks great, if you have any thoughts about a new features or issues, let me know.

[2016-05-28 21:56] mad-raz commented on #777
@Ch4s3 I was also planning to do this https://github.com/NoamB/sorcery/issues/773 given that I got the green light (but I didn't start on it yet)

[2016-05-28 22:03] Ch4s3 commented on #773
This would be great for the next release @mad-raz.

[2016-05-29 15:40] mad-raz opened #779 "rubocop and codeclimate"
any plans for fixing the rubocop violations and introduce codeclimate to help maintain/contribute in acceptable (agreed upon) code standard ?

[2016-05-29 17:36] Ch4s3 commented on #779
I think that would be reasonable. @arnvald Do you have any preference with respect to code climate?

[2016-05-30 03:07] arnvald commented on #779
I'm confused - CodeClimate has always been there: https://codeclimate.com/github/NoamB/sorcery
The score is even shown on the main page of the repo. Unless there's something else that we can introduce regarding to CC?

Regarding Rubocop: I think it's a good idea, although you need to agree on the configuration, since there's plenty of options there and different people prefer different settings

[2016-05-30 07:19] mad-raz commented on #779
yeah... my bad about not checking CC earlier

[2016-05-30 15:56] Ch4s3 commented on #779
Seems like I made the same mistake. Re: config I'd say we should pick one that lines up with what the code base has done in the past. Consistency is key.

[2016-06-15 14:13] liyijie commented on #70
@Ch4s3 Is there any plan to support this feature? Thanks.

[2016-06-15 16:02] Ch4s3 commented on #70
I think its on the 1.0 agenda.

[2016-06-16 11:06] budmc29 commented on #772
The documentation is now working.

[2016-06-16 11:06] #772 closed

[2016-06-16 22:00] kamiller commented on #777
I am available to help as well

[2016-06-16 22:54] Ch4s3 commented on #777
@kamiller awesome! Feel free to jump in on issues and PRs. I'll be posting more about the path to 1.0 soon.

[2016-06-27 19:11] jeriko opened #782 "Default initializer config for LinkedIn doesn't retrieve UID"
Not sure if something's recently changed with LinkedIn's API, but I had a bug in my app that traces back to `config.linkedin.user_info_fields = ['first-name', 'last-name']` in the initializer created by sorcery. During authentication, retrieving a `uid` fails since LinkedIn's response doesn't automatically include the field unless requested to.

My solution was simply `config.linkedin.user_info_fi

[2016-06-28 15:37] ShootingStarr opened #783 "Authentication at the route level"
Hey guys, in Device we have this method:
[code]
https://github.com/mperham/sidekiq/wiki/Monitoring#authentication

Do we have similar method in Sorcery?

[2016-06-28 19:32] Ch4s3 commented on #783
create `lib/auth_constraint.rb`
[code]

Then in your routes:

[code]

or something like this. Check the wiki https://github.com/NoamB/sorcery/wiki/Routes-Constraints

[2016-06-28 21:55] ShootingStarr commented on #783
@Ch4s3 thx

[2016-06-28 21:55] #783 closed

[2016-06-30 09:37] pake007 commented on #701
is it because you trigger the deliver too frequently? in the config, there is:
`
# hammering protection, how long in seconds to wait before allowing another email to be sent.
    # Default: `5 * 60`
    #
    # user.reset_password_time_between_emails =
`

[2016-07-05 23:22] atstockland commented on #775
Im having a similar issue.

include Sorcery::TestHelpers::Rails::Integration produces "NameError: undefined local variable or method `sessions_url' for"

include Sorcery::TestHelpers::Rails::Controller produces "NoMethodError: undefined method `auto_login' for nil:NilClass"

I'm still digging into this and will report back if I find solution

[2016-07-06 18:26] abhishekover9000 commented on #777
Hi I am using sorcery in my apps and would also be interested in contributing to this project, especially since there are some more experienced members participating

[2016-07-06 18:40] Ch4s3 commented on #777
@abhishekover9000 take a look at the issues, and docs and submit pull requests as you find things you want to fix! I'll post some todos in the near future.

[2016-07-15 22:32] andreimoment commented on #777
@Ch4s3 would it make sense to change the Readme now that you've taken over the project?

[2016-07-17 14:29] Ch4s3 commented on #777
@andreimoment we're still transitioning, so we'll probably remove it soon. Thoughts @arnvald?

[2016-07-19 21:10] unRARed commented on #782
From what I remember, we ran into a similar issue a couple months back where we didn't realize the `:uid` wasn't being included, and therefore, it created an `Authentication` instance with `:uid => ""`... so any user's attempt to login to LinkedIn would authenticate as THAT user. Not good, haha.

Our working config looks like this now:

[code]

[2016-07-19 23:05] athix commented on #768
For whoever looks at this, it sounds like an issue with oauth being cached either by sorcery or by google itself. IIRC, sorcery is only looking at the response from google, so if google doesn't realize a user changed their password and reset all their auth cookies, a user would be able to still login using the information from the last time they logged in. If sorcery uses similar cookies, that cou

[2016-07-19 23:06] athix opened #785 "Microsoft OAuth extension has been deprecated"
Currently there is a provider add-on for Microsoft's Live ID (which has been deprecated) and no support for Microsoft's replacement, Live Connect.

With a new maintainer coming online, looking at this as well as other oauth providers would be greatly appreciated.

[2016-07-19 23:28] athix commented on #160
Necropost, but being able to use multiple auth sources is important to my current use-case for sorcery. What's the current status on this?

[2016-07-20 01:30] Ch4s3 commented on #768
@athix any thoughts on reproducing/checking this?

[2016-07-20 01:31] Ch4s3 commented on #160
@athix no clue. Looks dead, but if you want to put in a PR I'll have a look.

[2016-07-20 01:32] Ch4s3 commented on #782
@jeriko does @unRARed's config work for you, have you found a fix?

[2016-07-20 01:33] Ch4s3 commented on #785
I don't really do any Microsoft work or have in Live accounts, so I'll need some help on this. That said, we should work on this for 1.0.

[2016-07-20 11:12] jeriko commented on #782
In my previous post I already mentioned what worked for me, which was adding `"id"` to the array of `user_info_fields`.

I think Sorcery should automatically request the ID field, since the integration doesn't work without it.

[2016-07-20 13:40] Ch4s3 commented on #782
Sorry, I was reading it on my phone. I'll look at the generators. Honestly, we're probably going to take a serious look at the generators for 1.0.

[2016-07-20 13:41] Ch4s3 opened #787 "1.0 Roadmap"
I'm starting this issue to discuss our path to a 1.0 release. Please feel free to request features here and discuss areas that need improvement or bug fixes.

[2016-07-20 13:44] jeriko commented on #782
Cool, but I think this is beyond generators -- If the provider code assumes there's a UID available (which it needs in order to work at all) then perhaps it should always be included in the requested fields regardless of config values?

[2016-07-20 13:57] Ch4s3 commented on #782
That makes sense. We could make this default behavior for linkedin, but it would probably be good to generalize this sort of thing.

[2016-07-20 13:59] jeriko commented on #782
Yeah. I suspect (most of) the other providers automatically receive a `uid` from their respective API servers, it might just be LinkedIn that needs the explicit request. Haven't verified against Sorcery's code though.

[2016-07-20 18:04] athix commented on #787
Some things that come to mind:

- [ ] OAuth / Provider test mocking (see omniauth mocking)
- [ ] Additional Providers for External
  - [ ] Live Connect (Windows LiveID Replacement)
  - [x] Flickr (saw an open pull request for this one)
  - [ ] Yahoo
- [ ] Support usage of multiple authentications for a single user (not sure if this is already implemented)
- [ ] Support accounts without passwords (

[2016-07-20 21:06] athix commented on #782
I'm looking into this problem right now, but found something rather confusing. It looks like the ID param already *is* being required, so why does it need to be included twice?

Not really sure how I can manually call the method and run byebug on it, so I can't confirm this yet.

[code]

[2016-07-20 21:21] athix commented on #782
Just discovered a serious problem, linkedin's `get_user_hash` isn't being tested, period. I tried commenting out twitter's `get_user_hash`, 12 failures as expected. linkedin's `get_user_hash`, 0 failures. I'll add some tests for it and report back. Explains why my calls to byebug weren't being hit. :P

[2016-07-20 21:29] rubenmoya commented on #785
I'll have a look at it tomorrow, maybe it's as easy as change the urls in the provider (and rename it too).

[2016-07-20 22:17] jeriko commented on #782
@athix yeah that seems weird. I just tested on an app of mine to confirm, it definitely only works if the ID is explicitly added to the config fields, otherwise the returned value is blank. Sorcery 0.9.1

[2016-07-21 08:22] rubenmoya commented on #785
So I've been looking into Live Connect, and the first thing I found is "Your URL can't contain a query string or invalid special characters.", so I don't know how to deal with "?provider=liveconnect"

[2016-07-21 16:34] athix commented on #782
Currently linkedin is using oauth 1.0, but they have a 2.0 version available. Thinking about just ditching the 1.0 code and making a new 2.0 module, but I don't know yet if that would cause others to need new keys/secrets. The other option is to refactor the 1.0 specs to use all 1.0 providers instead of just twitter. (or do both and have two modules for linkedin) @Ch4s3, @arnvald, opinions?

[2016-07-21 23:02] Ch4s3 commented on #782
I think it might be best to drop Oauth support in Sorcery 1.0 for Linkedin. But, I'm not 100% confident in that decision. Thoughts?

[2016-07-21 23:03] Ch4s3 commented on #785
@rubenmoya that seems tricky. I wonder what magic their C# solutions use?

[2016-07-21 23:03] jeriko commented on #782
Drop oauth support for linkedin completely?

[2016-07-21 23:04] Ch4s3 commented on #782
Sorry, I meant OAuth 1.0 in favor of 2.0.

[2016-07-21 23:05] jeriko commented on #782
@

[2016-07-21 23:05] jeriko commented on #782
sorry, misclick

[2016-07-22 16:41] athix commented on #782
I would be in favor of dropping 1.0 support wherever a 2.0 solution is available. (With a deprecation warning on 0.9.X)

[2016-07-23 00:21] iwada commented on #787
Was  https://github.com/NoamB/sorcery/issues/70 implemented? Should make it into 1.0

[2016-07-25 13:56] Ch4s3 commented on #787
@iwada no, #70 hasn't been implemented yet.

[2016-07-25 15:14] Ch4s3 commented on #782
@athix I think that is the best path forward as well.

[2016-07-25 17:40] pbougie commented on #787
I'd like to be able to easily create custom submodules for specific cases (or override the existing ones because I need special functionality). Make them more like a plugin. You could even extract the current submodules into separate gems. Would keep core smaller and easier to maintain. Would also allow for different maintainers for the extracted submodules.

Probably be smart to extract external

[2016-07-31 22:46] shmay opened #788 "How to set `remember_me_token_persist_globally` in config/sorcery.rb?"
I use my site on multiple devices, so I keep getting logged out when I switch between them.  In `config/sorcery.rb` I tried to `set remember_me_token_persist_globally = true`:

[code]

However, doing that gives me the error below.  I'm on Rails 4.2.7 and Sorcery 0.9.1.

```undefined method `remember_me_token_persist_globally=' for #<Sorcery::Model::Config:0x007f8c5c1002f8>```

What is the correct

[2016-07-31 22:57] Ch4s3 commented on #788
Interesting. I'll take a look. Is there anything else necessary to reproduce this @shmay?

[2016-07-31 23:46] shmay commented on #788
Thanks @Ch4s3

Weird, I just created a new Rails 5 app to try to reproduce it and couldn't.  I could however reproduce it *another*, older, recently upgraded Rails 5 app.

Note that I can set `user.remember_me_for = 7 * 60 * 60 * 24` just fine in the 4.2.7 app that is currently breaking when I try to set `remember_me_token_persist_globally`.

I'll keep poking around to see if I can find what's tri

[2016-07-31 23:53] Ch4s3 commented on #788
That's very odd. Anything else in your gemfile that could be interfering with global state?

[2016-08-01 00:07] shmay commented on #788
Nevermind, I was able to reproduce it in the just-created Rails 5 app after adding `User.first` in the root controller action... have you tried reproducing it?

[2016-08-01 00:29] Ch4s3 commented on #788
Not yet, but I will in a bit. Can it be reproduced using incognito mode, or do I need to run ngrok?

[2016-08-01 00:36] shmay commented on #788
No need for either.  Just need to create a new Rails app, add sorcery to the Gemfile, bundle install, `rails generate sorcery:install remember_me reset_password`, set `remember_me_token_persist_globally` in config/sorcery.rb, then access the User class in some way, eg `User.first`

[2016-08-01 00:39] Ch4s3 commented on #787
@pbougie We've talked about extracting things into gems.

[2016-08-01 00:48] Ch4s3 commented on #788
Ok, I've reproduced it on Rails 5, and I'm investigating.

[2016-08-01 01:10] shmay commented on #788
@Ch4s3 I noticed that `remember_me_token_persist_globally` doesn't exist in 0.9.1 ... so I put `gem 'sorcery', github: 'NoamB/sorcery'` in the Gemfile, bundle updated, and voila, everything seems to work...

[2016-08-01 01:13] Ch4s3 commented on #788
Yeah, I just landed on the same realization.

You'll have to forgive me, I'm still learning the code base, and have only recently taken over.

For future reference the solution here is to use master until 1.0 is out.

[2016-08-01 01:27] shmay commented on #788
No, thank you very much for your help.  All's well that ends well.  The [PR](https://github.com/NoamB/sorcery/pull/690) for it was merged awhile ago so I assumed it was in the latest release.

[2016-08-13 03:05] athix commented on #785
@rubenmoya, any progress on this?

[2016-08-13 03:08] athix commented on #782
I'll see if I can make any progress on oauth 2.0 for linkedin this weekend, now that the Travis builds should be fixed.

[2016-08-15 15:08] Ch4s3 commented on #782
awesome.

[2016-08-16 03:43] athix commented on #787
Deprecating rails 3/ruby 1.9 and adding support for rails 5 might be of note? (Good thing to add to the README at least.)

[2016-08-17 10:08] rubenmoya commented on #785
@athix Nop, I have no idea how to do it.

[2016-08-17 16:06] athix commented on #785
@rubenmoya No problem. I'll see if I can figure it out when I do LinkedIn's oauth 2.0 implementation. Thanks for trying!

[2016-08-17 18:53] rubenmoya commented on #787
What about this issue? https://github.com/NoamB/sorcery/issues/24

[2016-08-19 14:39] Ch4s3 commented on #787
@rubenmoya I'm not sure multiple models being able to authenticate is especially in keeping with the spirit of the gem. Perhaps I'm missing something?

[2016-08-24 08:54] rubenmoya opened #793 "Scope in login method"
So, imagine I have different companies in my app `/company1`, `/company2` and so on. Each one may have the same customer since emails are scoped by company_id for example:

[code]

Right now (if I'm not mistaken) sorcery will find the first email, check the password and log in, despite the url (company) I'm trying to log in. Is there any way to add a scope to the login method?

[2016-08-24 14:54] Ch4s3 commented on #793
@rubenmoya are you saying you want users to authenticate into different parts of your app using the same credentials while being restricted to that part of the app? This seems like a classic use case for subdomains.

[2016-08-24 16:50] athix commented on #777
I would be interested in helping contribute as well. I'm using this gem for work and my personal website and there's several features and bug-fixes that I'm trying to complete as part of that.

@Ch4s3, @arnvald, @kirs: Where do we stand on the transition? It also sounds like we'd be more interesting in starting a new gem from scratch rather than refactoring Sorcery (for the long term)? If that's t

[2016-08-24 19:58] athix commented on #793
@rubenmoya Is there some reason you wouldn't want just a single user per email and use a join table to link them to the companies?

[2016-08-26 15:10] murtali commented on #777
@arnvald @Ch4s3 would also be interested in contributing. would be great to get more info on transition / plans / milestones

[2016-08-26 22:08] Ch4s3 commented on #777
@athix @andreimoment @murtali So we are slowly transitioning at the moment. There is an issue open for the 1.0 roadmap, and some open stuff that needs review. I'm currently working through the backlog of PRs and trying to write a bit of new code. Feel free to jump in and write code, comment on PRs and so on. I'll try to set some milestones soon. Also, please let me know if you have any major issue

[2016-08-27 15:43] toshimaru commented on #787
I'm wondering if Sorcery project would be moved to organization to make collaboration easy.

[2016-08-29 16:16] Ch4s3 commented on #787
@toshimaru Yeah, that's on the list as well. Ideally at some point soon we will move to `Sorcery/sorcery` or similar and add several people as maintainers. Presently we're waiting on @NoamB.

[2016-08-30 09:44] 2l3x2nd3r opened #794 "undefined method 'login' Rails 5"
Hi, I have that sorcery.rb initializer

Rails.application.config.sorcery.submodules = [:reset_password, :activity_logging]
Rails.application.config.sorcery.configure do |config|
  config.user_config do |user|
    user.username_attribute_names = [:email, :username]
    user.downcase_username_before_authenticating = true
    user.reset_password_mailer = UserMailer
    user.reset_password_expiration_

[2016-08-31 04:13] 2l3x2nd3r commented on #794
I just made this whole process but in Rails 4 and it works, then it is a problem only for Rails 5

[2016-08-31 06:06] athix commented on #794
Hey @2l3x2nd3r, thanks for narrowing down the issue to Rails 5. Would you mind posting the full stack trace including the line numbers? That would help us figure out what file is causing the issue.

[2016-08-31 06:25] 2l3x2nd3r commented on #794
Started POST "/api/v1/sessions" for 186.170.82.243 at 2016-08-31 06:21:07 +0000
Processing by Api::V1::SessionsController#create as JSON
  Parameters: {"email"=>"alextab93", "password"=>"[FILTERED]", "session"=>{"email"=>"alextab93", "password"=>"[FILTERED]"}}
Completed 500 Internal Server Error in 6ms (ActiveRecord: 0.0ms)

NoMethodError (undefined method `login' for #<Api::V1::SessionsController

[2016-08-31 06:31] 2l3x2nd3r commented on #794
{
  "status": 500,
  "error": "Internal Server Error",
  "exception": "#<NoMethodError: undefined method `login' for #<Api::V1::SessionsController:0x00000003ac9088>>",
  "traces": {
    "Application Trace": [
      {
        "id": 0,
        "trace": "app/controllers/api/v1/sessions_controller.rb:6:in `create'"
      }
    ],
    "Framework Trace": [
      {
        "id": 1,
        "trace": "acti

[2016-08-31 07:48] athix commented on #794
Thanks! If you want to shorten the post, it looks like all the pertinent information is inside id's 0 and 2.
`app/controllers/api/v1/sessions_controller.rb:6`
I'll try and dig around in there and see what I find.

[2016-08-31 08:52] 2l3x2nd3r commented on #794
def create
    puts "#{@pass} is the content of @pass"
    @user = login(params[:email], @pass)    -> line 6
    if @user
      @token = @user.get_token.token
    else
      renderJson(:unprocessable, errors: ["Credenciales Invalidas"])
    end
  end

@pass is set, you can see the puts.

app/controllers/api/v1/sessions_controller.rb:7:in `create'
Started POST "/api/v1/sessions" for 186.170.82.243

[2016-08-31 10:11] 2l3x2nd3r commented on #794
I found the problem, but no the solution; When you initialize a Rails 5 project with the flag --api doesn't works the core methods.

[2016-09-01 10:30] #794 closed

[2016-09-01 23:25] IvanShamatov commented on #787
@Ch4s3 how about extracting providers-strategies out of Sorcery. Each provider has some hardcoded configuration which can change from time to time, and whole gem have to be updated for the reason of some 3rd party provider changed url. If community agree with this I can make an issue for that and make some experiments on implementing it

[2016-09-01 23:37] Ch4s3 commented on #787
@IvanShamatov I expect it to be a lot of work. That said, I think it's the right path forward. If you're willing to start on it then I'll pitch in.

[2016-09-01 23:45] IvanShamatov commented on #787
@Ch4s3 I'll do my best, if you take a look at that thread https://github.com/NoamB/sorcery/issues/533 — there are some points on making sorcery work with omniauth and all its already built strategies.

[2016-09-02 15:23] Ch4s3 commented on #787
Yeah @IvanShamatov I think Omniauth as discussed in #533 is a good route.

[2016-09-04 15:44] #771 closed

[2016-09-05 02:09] #788 closed

[2016-09-06 18:25] athix commented on #771
Hey @luizkowalski, did you figure this out or did you just end up rolling with a different solution?

Sorcery is currently transitioning maintainers, so if you still want help myself or @Ch4s3 could probably take a look. At a glance, I would hazard a guess it's because there's no session being created, and the tracking is attached to the session creation.

[2016-09-09 03:26] athix commented on #779
How would everyone feel about following the [Ruby Style Guide](https://github.com/bbatsov/ruby-style-guide) wherever applicable?

[2016-09-09 03:36] athix commented on #768
@Ch4s3, I'm not sure if I'll have time to try this myself, but here's what I'd do to try and replicate:

1. Setup simple test app using Sorcery, and a google account to use for authentication.
2. Create account on test app using google credentials.
3. Verify the account works by logging in and back out at least 3 times. (Preferably each time on a different browser, perhaps chrome safari and firefo

[2016-09-09 18:15] juniorjp opened #796 "Disable sorcery warn logs"
Hi guys,

I'm getting a lot of

[code]

[code]

Maybe it's because I'm using Mongoid::Versioning that includes the version field. But the application is working fine, I just would like to silence this noise from my logs. How do I do this?

[2016-09-09 19:15] athix commented on #796
Hi @juniorjp,

#471 seems to be a similar problem, perhaps the solution there would work for you? (find the duplicate field declarations and remove one of them)

Please let me know if that helps solve the issue or if it's something else!

[2016-09-09 19:54] juniorjp commented on #796
I saw that issue @athix , but the problem is the field is inside a module from a gem, I didn't explicit declared it in my model. I would prefer to not mess with the gem becuse it's working fine.

Thar's why I'm looking for a way to disable these logs from Sorcery.

[2016-09-09 20:35] athix commented on #796
It sounds like Mongoid itself is what generates these warnings (every time a field is declared multiple times), so to get rid of these errors you're going to have to find and overwrite where one of the gems is declaring the same field. I checked, and as far as I can tell Sorcery does set email, but doesn't set version. Perhaps go through your migrations? By default,  Sorcery generates the User ema

[2016-09-09 20:38] juniorjp commented on #796
You're right, I will close this since it's not related with Sorcery.

Thanks for the help.

[2016-09-09 20:38] #796 closed

[2016-09-09 20:41] athix commented on #796
No problem, good luck!

[2016-09-09 23:33] athix commented on #787
Great news! Thanks to the generosity of Github and whoever originally registered the name, I've managed to create a Sorcery organization. I've invited all the maintainers that I'm aware of to the organization, @arnvald, @Ch4s3, please let me know how we'd like to proceed.

`Sorcery/sorcery`, here we come. :)

[2016-09-10 00:46] athix commented on #787
@NoamB, I've invited you as an Owner to the new Sorcery organization.

[2016-09-12 21:54] athix commented on #787
@Ch4s3, @arnvald, Seeing as a complete refactor seems pretty likely (break modules into multiple gems, use Omniauth strategies for external, etc), what if we set the current work to release towards 0.10.0 instead of 1.0.0, and let 1.0.0 be the first release of the refactored code? It would also help emphasize that the current work (updating to Rails 5, deprecating Rails 3, etc) is breaking changes

[2016-09-12 22:50] athix opened #799 "JRuby Build Failures"
It seems there's another TravisCI build issue for JRuby.

[code]

Any help is appreciated, currently blocking #797 and #798.

[2016-09-12 23:08] athix commented on #799
JRuby wasn't properly being considered as an allowed_failure on TravisCI. Didn't fix the underlying issue, but this should no longer block pull requests.

[2016-09-12 23:08] #799 closed

[2016-09-13 01:38] athix commented on #759
@aj07mm if you want to take a stab at updating the wiki page, we would appreciate the help. The wiki is free and open for anyone to edit.

[2016-09-14 07:07] ebihara99999 opened #800 "In External Twitter login, a bug occurs undefined method 'username=' for User."
Thank you for the great project Sorcery.

Using Sorcery to make an application, I have a problem with external twitter login.

* I Implement as the External page in Wiki.

* I can access to "Authorize Sample-App to use your account" page.

* But on the page, input username/email and password and click "Sign in", it redirects to the root page without login.

* I debugged and found the bug seems to

[2016-09-14 14:04] Ch4s3 commented on #799
Thanks @athix

[2016-09-14 14:15] Ch4s3 commented on #800
Let me look into this. In the meantime can you try pointing your gemfile to master:
```gem "sorcery", git: "https://github.com/NoamB/sorcery", branch: "master"```

This issue may be fixed on master, and we're trying to put together a release soon.

[2016-09-16 00:56] arnvald commented on #787
Hey, I like the idea of moving to new organization. @athix thanks for helping with getting the Sorcery name for organization. We'd need to move anyway, because only Noam has access to grant permissions to Github repo and I didn't get any answer from him.

However, I could grant access to rubygems.org, so @Ch4s3 now you can push gem there.

The next step would be to go through all the issues and PR

[2016-09-16 00:56] arnvald commented on #777
Since we're moving forward and @Ch4s3 with help of others will take over the project, I'm closing this issue.

[2016-09-16 00:56] #777 closed

[2016-09-16 00:59] #756 closed

[2016-09-16 10:18] ebihara99999 commented on #800
Thanks, I'm looking forward to fixing this issue.

[2016-09-16 10:18] #800 closed

[2016-09-16 22:40] athix commented on #787
@arnvald, @Ch4s3: I copied over the existing Repo to Sorcery/sorcery, so we should be able to start making the transition. Let me know if I need to resend any of the org invites, once you accept you should have full access to everything.

[2016-09-20 18:23] Ch4s3 commented on #787
Ok, I'm set up. I'm traveling at the moment, but I'll do some work soon.
On Fri, Sep 16, 2016 at 6:40 PM Josh Buker <notifications@github.com> wrote:

[2016-09-20 20:19] IvanShamatov commented on #787
I'm following you, guys.

[2016-10-24 16:15] dnesteryuk commented on #775
It seems the integration test helpers only work with [Rack::Tests](https://github.com/NoamB/sorcery/wiki/Testing-Rails#feature-tests-w-racktests). Neither it works for Rails integration tests nor Capybara feature tests.

[2016-10-26 05:48] dhavalp opened #804 "How can user post tweets once user logged in via twitter aouth ?"

[2016-10-26 05:49] #804 closed, assigned to nobody

[2016-10-26 05:52] indermishra opened #805 "How can user post tweets once logged in using twitter aouth ?"
Once user logged in using twitter aouth, in callback we get oauth token and oauth_token_provider.
if i need to post tweets in my account, twitter require access_token and access_token_secret so how can i get these params in response ?

[2016-10-26 16:20] joshbuker commented on #805
I could be mistaken, but I don't think oauth is intended to provide access to a person's account via API tokens. Instead, it's intended to verify the user is who they say they are, and in some cases pass on useful information like locale/email.

That being said, it could be possible if twitter supports granting the API access via oauth, but you may want to consider using something like [this gem](

[2016-11-02 20:13] masscrx commented on #724
+1

[2016-11-04 01:11] calazans10 commented on #775
Today I got the same problem.

[code]

[2016-11-11 17:02] olimart commented on #775
Workaround:

Change your controller tests to inherit from `ActionController::TestCase`.
Rails 5 tests inherit from `ActionDispatch::IntegrationTest`.

That being said, you will also need to convert your tests back to the previous syntax. To move forward, not sure what it takes to update the code though.

[2016-11-11 18:48] olimart commented on #775
Alternative:

in `test_helper.rb`, add:

[code]

Then, leverage the helper In your controller.

Rails 5 discourages from setting the session in controller tests
https://github.com/rails/rails/issues/25394#issuecomment-225728348

[2016-11-24 06:00] SumanRam commented on #208
Same problem........ showing undefined authenticate error..... :(

[2016-12-04 15:52] #773 closed

[2016-12-04 15:53] #779 closed

[2016-12-04 15:53] #744 closed

[2016-12-29 19:32] Ch4s3 commented on #787
@IvanShamatov find us on the new org repo https://github.com/Sorcery/sorcery/issues/32

[2017-02-03 06:14] ghost commented on #775
I ran into this on updating an app from Rails 4 to Rails 5. Here's how I got through it:

- Convert all of your controller inheritance from `ActionController::TestCase` to  `ActionDispatch::IntegrationTest`

Then update your `/test/test_helper.rb` to include the following (making sure to replace 'secret' with whatever password you have setup in your fixtures)

[code]

[2017-02-03 15:41] tackeyy opened #808 "How can I get access_token in using github aouth?"
Although I want to get github ` access_token ` , it seems there is no way.
https://developer.github.com/v3/oauth/#response

According to #805 athix's answer, it seems to be difficult but is there any plan to implement the way to get ` access_token ` ?

[2017-02-04 03:49] ebihara99999 commented on #808
Current active repository is [Sorcery/sorcery](https://github.com/Sorcery/sorcery). You would be better off moving this issue there:smiley:

[2017-02-05 10:01] tackeyy commented on #808
Thank you.
I opened same issue in current active repo, so I close this issue.
https://github.com/Sorcery/sorcery/issues/44

[2017-02-18 04:38] wenweih opened #809 "Rails 5 WARNING"

[2017-02-20 09:48] hendricius commented on #783
Is there a way to do this without a constraint? Or is this best practice? :)

[2017-02-27 12:52] JackWells commented on #150
Note that you must have the "reset_password" submodule to use the "change_password" method.  Otherwise, you get "NoMethodError: undefined method 'change_password!' for #<User..."  But maybe you simply want to set it, not add user-reset functionality.
In that case, if, like me, you tried:
`@user.password = "blah" ... @user.password_confirmation = "blah" ... @user.save!`
... and got no error or roll

[2017-02-28 05:50] dhavalp commented on #760
even after adding this code I dont get email. Also say there were users who had logged in the past and now if we get their email id will sorcery update it?

 config.facebook.key = FACEBOOK_KEY
  config.facebook.secret = FACEBOOK_SECRET
  config.facebook.callback_url = "http://website.com/oauth/callback?provider=facebook"
  config.facebook.user_info_mapping = {:social_email => "email"}
  config.fac

[2017-03-06 14:29] emiltin commented on #232
outdated

[2017-03-06 14:29] #232 closed

[2017-03-23 05:53] #808 closed, assigned to nobody

[2017-03-28 00:54] Ekkstein commented on #681
Hello, I have a little problem, I will be brief to not waste much time.
In my rails app, I am trying to monkey patch a model class 'Card' inside a development.rb script file.
When I load development.rb from within the pry console, I get the error:
NoMethodError: undefined method `relations'

However, if I add a line to the script right before I open the class for patching, it works.
This seems lik

[2017-03-29 11:09] Folleo opened #810 "Facebook provider doesn't work with Facebook API version 'v2.3' and above"
Facebook changed `access_token` format response in version 2.3, so now it returns `:json` format. See https://developers.facebook.com/docs/apps/changelog

Oauth2 gem can handle `:json`, but in facebook provider there is no option to change `:parse` option from `:query` to `:json`.

In `facebook.rb` in method `process_callback` we have `:parse` option:
[code]

But it's always `:query` (`@parse = :q

[2017-03-29 11:37] Folleo commented on #810
Suppressed by appropriate issue https://github.com/Sorcery/sorcery/issues/52

[2017-03-29 11:37] #810 closed, assigned to nobody

[2017-06-10 14:18] abepetrillo commented on #88
Apologies for resurrecting this issue, but is @bradpauly's work around still the best way of solving this? Or is there a way of over-riding the external identification behavior?

[2017-07-11 21:57] kentarohorie opened #811 "OAuth2::Error in OauthsController#callback"
I try facebook login referring [this external wiki](https://github.com/NoamB/sorcery/wiki/External) .
but I get this error

OAuth2::Error in OauthsController#callback
[code]

{"access_token":"xxxxxxx", "token_type":"bearer","expires_in":5183999}

What should I do?

[2017-07-11 21:59] kentarohorie commented on #811
#761 #234

[2017-07-11 22:02] kentarohorie commented on #811
this is log

[code]

[2017-07-11 22:25] kentarohorie commented on #811
OauthsController#callback
[code]

[2017-07-11 23:05] kentarohorie commented on #811
get_token method in Oauth2's client.rb
options[:raise_errors]
=> true

and I get error get_access_token in sorcery's oauth2.rb

[code]

[2017-07-13 20:44] joshbuker commented on #811
Hi @kentarohorie, [NoamB/Sorcery](https://github.com/NoamB/sorcery) isn't being maintained anymore, please open this ticket in [Sorcery/sorcery](https://github.com/Sorcery/sorcery) and I can help you further. Thanks!

[2017-07-13 21:54] kentarohorie commented on #811
thanks, @athix !

[2017-08-28 17:58] RobinDaugherty commented on #701
It might be the hammering protection, but I also found that any exception that occurs in the mailer (`UserMailer` by default) will be ignored by default in Rails' development environment.

To find the exception, set this in `config/environments/development.rb`:
[code]

Now you should get information about the exception.

I recommend committing this, so that it acts like production.

[2017-12-21 19:19] kbighorse commented on #779
sorcery.rb was my worst offender when I run Rubocop: https://gist.github.com/kbighorse/8663b8bcc9cdf5ea7bff937dae7c9fbe. Are there any new developments about this?

[2018-01-20 02:01] mark100net opened #812 "Undefined method `remember_me!` for (my user class)"
I am using version 0.11.0 with Rails 5.1.4. I was not using `remember_me` originally and just started trying to use it.

My sorcery.rb has this:

    Rails.application.config.sorcery.submodules = [:remember_me]
     ....

     config.user_class = "Person" #last line

My Person class this:

    class Person < ApplicationRecord
         authenticates_with_sorcery!

My people table has `remember_me_t

[2018-01-25 03:40] brendon commented on #671
Hi @arnvald, did you ever get anywhere with this one? :)

[2018-01-26 15:05] Ch4s3 commented on #671
@brendon come join us on the new repo over at the new repo https://github.com/Sorcery/sorcery.

Unfortunately using Sorcery with Devise isn't a supported use case at the moment.

[2018-01-26 20:23] brendon commented on #671
Thanks @Ch4s3, I didn't realised it had moved :) I use Sorcery in my main app but active_admin uses devise. So far this is the only conflict I've found :)

[2018-01-30 16:06] Ch4s3 commented on #671
@brendon ahh good old active admin. If you file an issue over at the new repo, we'll take a look. A demo app might be helpful.

[2018-02-16 21:24] fangbyte commented on #746
@arnvald Interested in your take on how this could be done. I'm working on a PR for it now and considering having a configurable column on the `sorcery_adapter` with a default name of something like `invalidate_sessions_before` then in https://github.com/Sorcery/sorcery/blob/master/lib/sorcery/controller/submodules/session_timeout.rb adding a method to invalidate the session if the user is logged

[2018-02-17 08:05] arnvald commented on #746
@fangbyte can you explain a bit more about how your solution would work? How would the `invalidate_sessions_before` be populated and updated (would it be updated after every user action or would it be a fixed session time)?

 The solution I had in mind was:

1. Add a new column to user model, it could be called `session_token`
2. In `auto_login` method in `Sorcery::Controller` add `session[:token]

[2018-02-21 20:16] fangbyte commented on #746
@arnvald I tagged you in the PR on the newer sorcery project that has a spike of what I am talking about, but I'll link here so if anyone finds this later on it's connected for posterity sake. https://github.com/Sorcery/sorcery/pull/110

`invalidate_sessions_before` would be populated and updated by the `invalidate_active_sessions!` method. Which sets the new column `invalidate_sessions_before` on

[2018-02-28 07:04] BabaShun opened #813 "undefined method `sorcery_adapter' for nil:NilClass"
An error occurred when trying to implement facebook login.
Implemented with reference to url.(https://github.com/NoamB/sorcery/wiki/External)

[2018-03-02 02:58] Ch4s3 commented on #813
@BabaShun can you try moving to https://github.com/sorcery/sorcery? The gem has moved there.

[2018-03-16 14:42] uberdave opened #814 "To use user_activation submodule, you must define a mailer (config.user_activation_mailer = YourMailerClass)"
I am getting this issue after upgrading to RoR -v 4.2.10. the Strange thing is that twice it bypassed this message ad said that the activation email was sent, however not so. Subsequently I finished the entire tutorial and I cannot get past this error.
[Sorcery Docs](https://github.com/NoamB/sorcery/wiki/Reset-password)

[2018-03-17 03:00] ebihara99999 commented on #814
Now the org are created, and the project moves to https://github.com/Sorcery/sorcery. If you open the issue there, someone will answer.

[2018-03-19 13:40] #814 closed, assigned to nobody

[2018-04-02 16:35] Spone opened #815 "Migration files not copied by install generator"
Hello,

I'm running the install generator in my Rails 5.2.0.rc2 project, and the migration files are not copied:

[code]

Do you know what's happening?

[2018-04-02 16:35] #815 closed, assigned to nobody

[2018-06-08 06:07] #733 closed

[2018-06-28 19:40] itay-grudev commented on #429
@kirs Is there a Wiki page for migration?

[2018-09-01 16:26] jrochkind commented on #787
at this point, should we figure a 1.0 is probably not coming anytime soon?

[2018-09-01 17:37] joshbuker commented on #787
@jrochkind Honestly, unless there's a build-up of momentum that seems fairly likely. I (and I assume @Ch4s3 as well) have a lot of other projects to work on that personally feel higher priority. If there's any specific features that you need merged in however, I'd be more than happy to help on a PR.

[2018-10-29 16:43] GildedHonour opened #816 "The session cookie doesn't get invalidated after signing out"
Is the fact that the session cookie doesn't get invalidated after signing out and that I can reuse it -- the normal behaviour, not a vulnerability?

[2018-10-31 15:08] GildedHonour commented on #816
Up

[2018-11-27 16:03] #793 closed

[2020-01-09 02:36] benkoshy opened #817 "Maintenance of gem - closure of wiki to avoid confusion?"
Hi all

Thank you for your work on this project.

I noticed that the wiki is still open. Some people from the https://github.com/Sorcery/sorcery gem might find themselves on the wiki on this (now deprecated) site, which might lead to them following outdated tutorials.

I would recommend that the Wiki for this repo be closed or otherwise deleted.

with kind regards

Ben

[2020-01-09 17:15] joshbuker commented on #817
Hi @BKSpurgeon, that's a good point. I've updated the wiki homepage to redirect to the new wiki, but I don't have access to disable the wiki entirely. I think we would need @NoamB to do that.

Hopefully that will alleviate a little bit of confusion if anyone does get to the old wiki due to SEO.

[2020-05-30 14:28] carltonsmith opened #818 "Can't Run Generator"
I've got a new install and I am trying to install the sorcery gem running
`rails g sorcery:install`

but I get the following error:

[code]

[2020-06-04 06:08] keymastervn commented on #665
I am now on this using rails 5

Make sure to insert your own middleware after Warder::Manager

[code]

[2020-10-31 15:46] NoamB commented on #817
Wiki closed.

[2020-10-31 15:46] #817 closed, assigned to nobody

[2020-11-06 07:42] pyrareae commented on #61
This is something that helped me in graphiti/json::api tests
[code]

[2021-11-14 12:26] bitberry-dev commented on #769
Hi guys, I have the same problem, fixed in a similar way.

[2021-11-15 17:13] joshbuker commented on #769
I wasn't a huge fan of how this overwriting of a singleton config worked, so this will be changed in v1 to no longer be an issue. The config values will live on the instance of the hashing provider instead: [sorcery-core/lib/sorcery/config.rb](https://github.com/Sorcery/sorcery-rework/blob/2d4efc4a721ed6307e370e4a8029e88d9a6afbda/sorcery-core/lib/sorcery/config.rb#L312)

@bitberry-dev if this is s

[2021-11-15 22:46] bitberry-dev commented on #769
@athix Of course, I will re-check this bug soon and open a new issue

[2022-01-31 04:52] matoni109 commented on #617
@rhardih Thanks this was helpful and really should be in their docs

[2022-01-31 16:56] joshbuker commented on #617
Hey @matoni109 where would you expect to find this? In the readme, wiki, or both? It should be trivial for me to add a note on the spec_helper vs rails_helper include. FYI, [Sorcery/sorcery](https://github.com/Sorcery/sorcery) is the current canonical location for Sorcery.

[2022-02-01 00:32] matoni109 commented on #617
hi @athix,
Sorry for posting this here and not at [Sorcery/sorcery](https://github.com/Sorcery/sorcery), we have gone with Sorcery for an internal project and I've been setting up the testing specs.

We have a couple of PR's to push to the Oauth provider module in the coming weeks.

Would be great to have a testing ***heading*** on the main page for `rspec` and a sample `rails_helper` like below

[2022-06-25 13:20] KjellMorgenstern commented on #302
Recent versions of sorcery already have such an accesor, so activation emails can be explicitly skipped by setting it.
Also, not setting a password (user would need to reset it anyway if done from an admin panel or similar) will automatically skip the activation email.
[code]
[code]

[code]

[code]